img{
  position: relative;
  display: flex;
  border-radius: 50%;
}

.column {
  float: left;
  width: 20%;
  padding: 10px;
}
div.desc {
  position: relative;
  font-size: 15px;
  padding: 10px;
  text-align: center;
  right:45px;
}
.row{
  position: relative;
  left:350px;
  width:1178px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
